.tdheader  img { display: none; }
.class123-progresscircleactive { border:1px solid #000 !important; }
.class123-nabig { display: none; }
#printlink { display: none; }
.tdimagejos { display: none; }

.signaturewarning { display:none; }
.hiddensignature { display:block; }
.tdheader { display: none; }
.class123-noprint { display: none !important; }
.class123-labelhidden { display: none !important; }
.tdmain { box-shadow: none !important; }
body { background-color:#fff !important; }
#form-summary {display:none !important; }

